$client = Twitter::REST::Client.new do |config|
  config.consumer_key = 'KEY'
  config.consumer_secret = 'KEY'
  config.access_token = 'KEY'
  config.access_token_secret = 'KEY'
end

$source_account = 'your_regular_account'

$rand_limit = 10   # run 1 out of every $rand_limit times roughly
$include_urls = false
$include_replies = true
